:root {
 --cyan: #00FFFF; 
 --slate: #6A5ACD; 
 --gold: #FFD700; 
 --orangered: #FA8072;
 --black: black;  
 --red: crimson; 
}


body{
    font-size: 40px;
    background-color: burlywood;
}

#container{
    margin : 20px auto;
    background-color: var(--gold);
    height: 700px;
    width : 1000px;
    border-radius: 10px;
    box-shadow: 10px 15px 15px 0px;
    position: relative;
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    width:400px;
    height:200px;
    border : 5px solid var(--orangered); 
    text-align: center;
    color : var(--gold);
    background-color: var(--orangered);
    left:300px;
    top:50px;
    cursor: pointer;
    position: absolute;
}
#start:hover{
    border: 5px solid var(--cyan);
    color : var(--slate); 
}

#question{
    width:500px;
    height: 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#answers{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid var(--black);
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid var(--black);
    font-weight: bold;
    color: var(--red); 
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    top: 25%; 
    text-align: center;
}
#counter{
    font-size: 3em;
}

#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    top:100px;
    left:325px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#yourName {
    display:none; 
    margin-bottom: 10%; 
}

li {
    list-style-type: square;
}

li::before {
    
    color: var(--red);
    display: inline-block; width: 1em;
    margin-left: 5em; 
    font-weight: bold;
}